In [204]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [205]:
df = pd.read_csv('20200124_ews_observations.csv', low_memory=False)

In [206]:
df.head(20)

,PatientId,ObservationDate,EwsProcedure,EWS_Total,SBP,SBP_Score,LOC,LOC_Score,SpO2,SpO2_Score,Add_O2,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
0,29,2019-05-01 13:27:50.0000000,NEWS2,0,143.0,0.0,ALERT,0,96.0,0.0,False,0.0,80,0,18,0,36.6,0
1,30,2019-05-01 15:27:44.0000000,NEWS2,3,NaN,NaN,ALERT,0,94.0,1.0,False,0.0,83,0,16,0,36.5,0
2,31,2019-05-01 15:54:27.0000000,NEWS2,1,117.0,0.0,ALERT,0,95.0,1.0,False,0.0,75,0,14,0,37.3,0
3,32,2019-05-01 16:07:27.0000000,NEWS2,0,NaN,NaN,ALERT,0,98.0,0.0,False,0.0,85,0,19,0,37.2,0
4,33,2019-05-01 17:03:16.0000000,NEWS2,0,135.0,0.0,ALERT,0,97.0,0.0,False,0.0,89,0,14,0,36.1,0
5,32,2019-05-01 18:02:29.0000000,NEWS2,0,NaN,NaN,ALERT,0,96.0,0.0,False,0.0,82,0,18,0,37.0,0
6,34,2019-05-01 19:23:49.0000000,NEWS2,0,NaN,NaN,ALERT,0,97.0,0.0,False,0.0,66,0,16,0,36.2,0
7,35,2019-05-01 21:07:36.0000000,NEWS2,0,NaN,NaN,ALERT,0,98.0,0.0,False,0.0,84,0,18,0,37.1,0
8,32,2019-05-01 21:08:05.0000000,NEWS2,0,125.0,0.0,ALERT,0,97.0,0.0,False,0.0,87,0,14,0,37.1,0
9,36,2019-05-01 21:12:11.0000000,NEWS2,2,NaN,NaN,ALERT,0,97.0,0.0,False,0.0,61,0,13,0,35.8,1
10,34,2019-05-01 21:13:21.0000000,NEWS2,1,117.0,0.0,ALERT,0,95.0,1.0,False,0.0,64,0,13,0,36.6,0
11,32,2019-05-01 23:12:50.0000000,NEWS2,0,114.0,0.0,ALERT,0,96.0,0.0,False,0.0,77,0,17,0,37.2,0
12,37,2019-05-02 00:28:57.0000000,NEWS2,0,140.0,0.0,ALERT,0,98.0,0.0,False,0.0,53,0,16,0,36.3,0
13,35,2019-05-02 00:41:07.0000000,NEWS2,2,123.0,0.0,ALERT,0,94.0,1.0,False,0.0,73,0,16,0,35.9,1
14,38,2019-05-02 00:42:59.0000000,NEWS2,1,NaN,NaN,ALERT,0,98.0,0.0,False,0.0,59,0,13,0,36.2,0
15,39,2019-05-02 00:47:03.0000000,NEWS2,1,110.0,1.0,ALERT,0,99.0,0.0,False,0.0,72,0,16,0,36.8,0
16,36,2019-05-02 00:52:23.0000000,NEWS2,3,104.0,1.0,ALERT,0,95.0,1.0,False,0.0,65,0,18,0,35.6,1
17,30,2019-05-02 01:57:16.0000000,NEWS2,6,89.0,3.0,ALERT,0,96.0,0.0,False,0.0,84,0,25,3,36.4,0
18,30,2019-05-02 03:19:01.0000000,NEWS2,7,87.0,3.0,ALERT,0,95.0,1.0,False,0.0,80,0,26,3,36.4,0
19,34,2019-05-02 03:31:55.0000000,NEWS2,1,NaN,NaN,ALERT,0,95.0,1.0,False,0.0,60,0,12,0,36.8,0

In [207]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
PatientId,29,30,31,32,33,32,34,35,32,36,34,32,37,35,38,39,36,30,30,34
ObservationDate,2019-05-01 13:27:50.0000000,2019-05-01 15:27:44.0000000,2019-05-01 15:54:27.0000000,2019-05-01 16:07:27.0000000,2019-05-01 17:03:16.0000000,2019-05-01 18:02:29.0000000,2019-05-01 19:23:49.0000000,2019-05-01 21:07:36.0000000,2019-05-01 21:08:05.0000000,2019-05-01 21:12:11.0000000,2019-05-01 21:13:21.0000000,2019-05-01 23:12:50.0000000,2019-05-02 00:28:57.0000000,2019-05-02 00:41:07.0000000,2019-05-02 00:42:59.0000000,2019-05-02 00:47:03.0000000,2019-05-02 00:52:23.0000000,2019-05-02 01:57:16.0000000,2019-05-02 03:19:01.0000000,2019-05-02 03:31:55.0000000
EwsProcedure,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2
EWS_Total,0,3,1,0,0,0,0,0,0,2,1,0,0,2,1,1,3,6,7,1
SBP,143,NaN,117,NaN,135,NaN,NaN,NaN,125,NaN,117,114,140,123,NaN,110,104,89,87,NaN
SBP_Score,0,NaN,0,NaN,0,NaN,NaN,NaN,0,NaN,0,0,0,0,NaN,1,1,3,3,NaN
LOC,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT,ALERT
LOC_Score,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SpO2,96,94,95,98,97,96,97,98,97,97,95,96,98,94,98,99,95,96,95,95
SpO2_Score,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,1
Add_O2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Add_O2_Score,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
HR,80,83,75,85,89,82,66,84,87,61,64,77,53,73,59,72,65,84,80,60
HR_Score,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
RR,18,16,14,19,14,18,16,18,14,13,13,17,16,16,13,16,18,25,26,12
RR_Score,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0
TEMP,36.6,36.5,37.3,37.2,36.1,37,36.2,37.1,37.1,35.8,36.6,37.2,36.3,35.9,36.2,36.8,35.6,36.4,36.4,36.8
TEMP_Score,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0

In [208]:
#check  for blank spaces
for i in df.columns:
    print (i.isspace())

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [209]:
pd.to_datetime(df['ObservationDate'])

0        2019-05-01 13:27:50
1        2019-05-01 15:27:44
2        2019-05-01 15:54:27
3        2019-05-01 16:07:27
4        2019-05-01 17:03:16
                 ...
171731   2020-01-02 08:57:05
171732   2020-01-02 08:58:46
171733   2020-01-02 09:03:14
171734   2020-01-02 09:03:20
171735   2020-01-02 09:03:56
Name: ObservationDate, Length: 171736, dtype: datetime64[ns]

In [210]:
df.shape

(171736, 18)

In [211]:
# df.dtypes

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171736 entries, 0 to 171735
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PatientId        171736 non-null  int64
 1   ObservationDate  171736 non-null  object
 2   EwsProcedure     171736 non-null  object
 3   EWS_Total        171736 non-null  int64
 4   SBP              160949 non-null  float64
 5   SBP_Score        160949 non-null  float64
 6   LOC              171736 non-null  object
 7   LOC_Score        171736 non-null  int64
 8   SpO2             171734 non-null  float64
 9   SpO2_Score       171734 non-null  float64
 10  Add_O2           171734 non-null  object
 11  Add_O2_Score     171734 non-null  float64
 12  HR               171736 non-null  int64
 13  HR_Score         171736 non-null  int64
 14  RR               171736 non-null  int64
 15  RR_Score         171736 non-null  int64
 16  TEMP             171736 non-null  float64
 17  TEMP_Score       171736 non-null  int64
dtypes: float64(6), int64(8), object(4)
memory usage: 23.6+ MB

In [212]:
df.isnull().sum().sum() # check the total amount of NaN values in the database

21582

In [213]:
round((df.isnull().sum()*100)/len(df),2) # relative amount of NaN values in % per column

PatientId          0.00
ObservationDate    0.00
EwsProcedure       0.00
EWS_Total          0.00
SBP                6.28
SBP_Score          6.28
LOC                0.00
LOC_Score          0.00
SpO2               0.00
SpO2_Score         0.00
Add_O2             0.00
Add_O2_Score       0.00
HR                 0.00
HR_Score           0.00
RR                 0.00
RR_Score           0.00
TEMP               0.00
TEMP_Score         0.00
dtype: float64

In [214]:
#Check the columns with NaN values

col_nan = df[['SBP','SBP_Score' ]]
col_nan.T

,0,1,2,3,4,5,6,7,8,9,...,171726,171727,171728,171729,171730,171731,171732,171733,171734,171735
SBP,143.0,NaN,117.0,NaN,135.0,NaN,NaN,NaN,125.0,NaN,...,90.0,NaN,147.0,145.0,137.0,88.0,83.0,118.0,129.0,133.0
SBP_Score,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,3.0,NaN,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0

In [215]:
#Fill NaN values with a mean value if possible
df.describe () # columns where we can add the mean value instead of the NaN

,PatientId,EWS_Total,SBP,SBP_Score,LOC_Score,SpO2,SpO2_Score,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
count,171736.000000,171736.000000,160949.000000,160949.000000,171736.000000,171734.000000,171734.000000,171734.000000,171736.000000,171736.000000,171736.000000,171736.000000,171736.000000,171736.000000
mean,5174.344669,1.929537,120.688665,0.499096,0.011477,95.947407,0.355928,0.416423,79.758921,0.320253,17.263102,0.245167,36.642783,0.083628
std,3613.339400,1.890388,19.599943,0.813013,0.185201,3.777995,0.690071,0.812060,17.467517,0.600285,3.364965,0.693101,0.525958,0.284159
min,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,3.000000,0.000000
25%,2263.000000,0.000000,107.000000,0.000000,0.000000,95.000000,0.000000,0.000000,67.000000,0.000000,16.000000,0.000000,36.300000,0.000000
50%,4764.000000,1.000000,119.000000,0.000000,0.000000,96.000000,0.000000,0.000000,78.000000,0.000000,17.000000,0.000000,36.600000,0.000000
75%,7549.000000,3.000000,133.000000,1.000000,0.000000,98.000000,1.000000,0.000000,90.000000,1.000000,19.000000,0.000000,36.900000,0.000000
max,20532.000000,19.000000,234.000000,3.000000,3.000000,100.000000,3.000000,2.000000,252.000000,3.000000,116.000000,3.000000,50.000000,3.000000

In [216]:
df['SBP'].fillna(value=df['SBP'].mean(), inplace=True)  # code for NaN => mean value

df['SBP_Score'].fillna(value=df['SBP_Score'].mean(), inplace=True)

In [217]:
df = df.set_index('ObservationDate')
# df.head()

In [218]:
#Check the unique values per column
for i in df.columns:
    print(df[i].unique())

[   29    30    31 ... 20530 20531 20532]
['NEWS2']
[ 0  3  1  2  6  7  5  4  9 10  8 11 12 19 13 14 15]
[143.         120.68866535 117.         135.         125.
 114.         140.         123.         110.         104.
  89.          87.         137.         112.         146.
  94.         127.          92.         201.         191.
  73.         102.         122.         106.         130.
 142.         189.         157.          97.         129.
 109.         121.         152.         132.         147.
 134.         158.         148.         111.         145.
 141.          85.         118.         133.         156.
 149.         124.         113.          93.         131.
 108.         119.         144.         139.         126.
 128.         105.         115.         103.          99.
  88.          98.         138.         136.         167.
  91.         164.          90.         100.         116.
 150.         153.         120.         107.         101.
  95.         154.          86.         155.         173.
  82.          84.         165.         183.         192.
 184.          96.         180.         172.         168.
 198.          68.         160.         202.         159.
 182.         169.         151.          70.          58.
 161.         175.         163.         177.         181.
 185.         166.           0.          60.          72.
  64.         179.          66.         174.         193.
 176.         190.         170.          78.          62.
  81.          54.          80.          76.          74.
  69.          77.          71.         211.          79.
 199.         210.         204.         171.         162.
  83.          75.         188.         178.         195.
 203.         234.          56.         194.         206.
 186.         187.         205.         196.         200.
  53.          50.         216.         208.         223.
 209.         197.         213.         220.         217.
  65.         225.          67.         219.          52.
  45.         214.          63.          61.          55.
 207.         233.         232.         215.          48.
 218.         212.          40.        ]
[0.         0.49909599 1.         3.         2.        ]
['ALERT' 'UNRESPONSIVE' 'NEW_CONFUSION' 'VOICE' 'PAIN']
[0 3]
[ 96.  94.  95.  98.  97.  99. 100.  93.  92.  88.  90.  91.  89.  86.
  85.  87.   9.  82.   0.  21.   1.  40.  84.  17.  79.  83.   4.   2.
  80.  78.  81.  24.  28.   3.  10.  32.  76.  65.  23.  70.  72.  74.
  12.  18.  75.  68.  69.  77.  16.   5.   6.  36.  66.  nan  71.   7.
  46.  73.  20.  67.  22.  19.  60.  56.  50.]
[ 0.  1.  2.  3. nan]
[False True nan]
[ 0.  2. nan]
[ 80  83  75  85  89  82  66  84  87  61  64  77  53  73  59  72  65  60
  70  54  55  67  90  79  86  44  91  58  68  56  57  63  62 101 108  74
  78  96  94  51  76  69 104  81  52  95  88  92  43  71  49  93  50  46
  38 100  99  35 111  97 114 112 127 123 120 103 121 115 119 106 102  48
 155 136 142 107 113 124 105 116  47  98 126  45 110 118 122 109 150 133
 129 132 117  40  41 130 125  42 137 140 147 139 161 153 156 174 141 152
 154 160 169 158 144 128 149 138 177 172 148 143  25 135 182 134 178  39
 131 180 176 168 186  37  20 159 175 171 151 166 170 164 167 162 145  36
 146  31  30  29  28 189 173  33  34 187 181 163 200 191 192 188 198 165
 194 157  32 199 183 190 184  26 239  27  22 185 208  23 196 179 252 210]
[0 1 3 2]
[ 18  16  14  19  13  17  25  26  12  20  21  15  11  10  22  24  40  31
  38  37  42  27  29  35  28  30  39  23   9   0   8  74  58   6  45  36
  32  33  66  95   7  83  61   2  99   1  79  34  89  84  93   3  60  96
  97 101 102   5  55  53  52  56  71  85  67  50  41  44  87 116  65  78
  72  77  43 103  46  80  88  94  98  49]
[0 3 2 1]
[36.6 36.5 37.3 37.2 36.1 37.  36.2 37.1 35.8 36.3 35.9 36.8 35.6 36.4
 35.4 36.7 36.  35.7 36.9 37.5 37.8 37.7 37.9 38.1 37.4 37.6 38.  38.3
 35.3 38.5 38.4 35.5 42.  38.9 38.2 35.2 39.2 39.  38.7 39.6 35.  35.1
 39.9 38.6 38.8 39.5 39.4 39.3  6.8 34.8  6.5  3.2 39.1 39.7 27.8  3.
  6.1 24.4 34.5 50.  40.4 40.5 40.  34.7 34.4 40.8 34.9 41.  34.6  3.1
 34.2  8.3  3.6 33.9 40.1 39.8 33.  34.3]
[0 1 2 3]

In [219]:
#Transforming text and categorical attributes

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder ()

for i in df.columns:
    if df[i].dtype == object:
        df[i] = encoder.fit_transform(df[i])
df.head()

,PatientId,EwsProcedure,EWS_Total,SBP,SBP_Score,LOC,LOC_Score,SpO2,SpO2_Score,Add_O2,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
ObservationDate,,,,,,,,,,,,,,,,,
2019-05-01 13:27:50.0000000,29,0,0,143.000000,0.000000,0,0,96.0,0.0,0,0.0,80,0,18,0,36.6,0
2019-05-01 15:27:44.0000000,30,0,3,120.688665,0.499096,0,0,94.0,1.0,0,0.0,83,0,16,0,36.5,0
2019-05-01 15:54:27.0000000,31,0,1,117.000000,0.000000,0,0,95.0,1.0,0,0.0,75,0,14,0,37.3,0
2019-05-01 16:07:27.0000000,32,0,0,120.688665,0.499096,0,0,98.0,0.0,0,0.0,85,0,19,0,37.2,0
2019-05-01 17:03:16.0000000,33,0,0,135.000000,0.000000,0,0,97.0,0.0,0,0.0,89,0,14,0,36.1,0

In [220]:

df.drop(['EwsProcedure'], axis=1, inplace=True)

In [221]:
df.isnull().sum()

PatientId       0
EWS_Total       0
SBP             0
SBP_Score       0
LOC             0
LOC_Score       0
SpO2            2
SpO2_Score      2
Add_O2          0
Add_O2_Score    2
HR              0
HR_Score        0
RR              0
RR_Score        0
TEMP            0
TEMP_Score      0
dtype: int64

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171736 entries, 2019-05-01 13:27:50.0000000 to 2020-01-02 09:03:56.0000000
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   PatientId     171736 non-null  int64
 1   EWS_Total     171736 non-null  int64
 2   SBP           171736 non-null  float64
 3   SBP_Score     171736 non-null  float64
 4   LOC           171736 non-null  int32
 5   LOC_Score     171736 non-null  int64
 6   SpO2          171734 non-null  float64
 7   SpO2_Score    171734 non-null  float64
 8   Add_O2        171736 non-null  int32
 9   Add_O2_Score  171734 non-null  float64
 10  HR            171736 non-null  int64
 11  HR_Score      171736 non-null  int64
 12  RR            171736 non-null  int64
 13  RR_Score      171736 non-null  int64
 14  TEMP          171736 non-null  float64
 15  TEMP_Score    171736 non-null  int64
dtypes: float64(6), int32(2), int64(8)
memory usage: 21.0+ MB

In [230]:
df.describe()

,PatientId,EWS_Total,SBP,SBP_Score,LOC,LOC_Score,SpO2,SpO2_Score,Add_O2,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
count,171736.000000,171736.000000,171736.000000,171736.000000,171736.000000,171736.000000,171734.000000,171734.000000,171736.000000,171734.000000,171736.000000,171736.000000,171736.000000,171736.000000,171736.000000,171736.000000
mean,5174.344669,1.929537,120.688665,0.499096,0.005555,0.011477,95.947407,0.355928,0.208232,0.416423,79.758921,0.320253,17.263102,0.245167,36.642783,0.083628
std,3613.339400,1.890388,18.974406,0.787066,0.110652,0.185201,3.777995,0.690071,0.406074,0.812060,17.467517,0.600285,3.364965,0.693101,0.525958,0.284159
min,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,3.000000,0.000000
25%,2263.000000,0.000000,108.000000,0.000000,0.000000,0.000000,95.000000,0.000000,0.000000,0.000000,67.000000,0.000000,16.000000,0.000000,36.300000,0.000000
50%,4764.000000,1.000000,120.000000,0.000000,0.000000,0.000000,96.000000,0.000000,0.000000,0.000000,78.000000,0.000000,17.000000,0.000000,36.600000,0.000000
75%,7549.000000,3.000000,131.000000,1.000000,0.000000,0.000000,98.000000,1.000000,0.000000,0.000000,90.000000,1.000000,19.000000,0.000000,36.900000,0.000000
max,20532.000000,19.000000,234.000000,3.000000,4.000000,3.000000,100.000000,3.000000,2.000000,2.000000,252.000000,3.000000,116.000000,3.000000,50.000000,3.000000

In [232]:
df.groupby("PatientId").head()

,PatientId,EWS_Total,SBP,SBP_Score,LOC,LOC_Score,SpO2,SpO2_Score,Add_O2,Add_O2_Score,HR,HR_Score,RR,RR_Score,TEMP,TEMP_Score
ObservationDate,,,,,,,,,,,,,,,,
2019-05-01 13:27:50.0000000,29,0,143.000000,0.000000,0,0,96.0,0.0,0,0.0,80,0,18,0,36.6,0
2019-05-01 15:27:44.0000000,30,3,120.688665,0.499096,0,0,94.0,1.0,0,0.0,83,0,16,0,36.5,0
2019-05-01 15:54:27.0000000,31,1,117.000000,0.000000,0,0,95.0,1.0,0,0.0,75,0,14,0,37.3,0
2019-05-01 16:07:27.0000000,32,0,120.688665,0.499096,0,0,98.0,0.0,0,0.0,85,0,19,0,37.2,0
2019-05-01 17:03:16.0000000,33,0,135.000000,0.000000,0,0,97.0,0.0,0,0.0,89,0,14,0,36.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-02 08:05:30.0000000,20522,1,127.000000,0.000000,0,0,98.0,0.0,0,0.0,109,1,20,0,37.0,0
2020-01-02 08:19:07.0000000,20531,1,187.000000,0.000000,0,0,97.0,0.0,0,0.0,63,0,15,0,35.6,1
2020-01-02 08:24:02.0000000,8240,3,120.688665,0.499096,0,0,94.0,1.0,0,0.0,104,1,14,0,35.4,1
2020-01-02 08:46:42.0000000,20532,1,145.000000,0.000000,0,0,99.0,0.0,0,0.0,47,1,12,0,36.1,0
2020-01-02 09:03:20.0000000,20527,0,129.000000,0.000000,0,0,98.0,0.0,0,0.0,70,0,16,0,36.5,0

1743    643
5797    441
1261    441
630     356
1841    351
Name: PatientId, dtype: int64

In [238]:
df.EWS_Total.value_counts()

0     47363
1     38752
2     31214
3     22273
4     14289
5      8701
6      4787
7      2312
8      1144
9       576
10      190
11       84
12       31
13       14
14        3
15        2
19        1
Name: EWS_Total, dtype: int64

In [239]:
df.EWS_Total.unique()

array([ 0,  3,  1,  2,  6,  7,  5,  4,  9, 10,  8, 11, 12, 19, 13, 14, 15],
      dtype=int64)

In [ ]:
df.TEMP.unique()

In [ ]:
df.Add_O2.unique()

In [ ]:
df.Add_O2 = df.Add_O2.astype("category")

In [ ]:
df.Add_O2.replace(to_replace= ["Yes", "No", "Unknown"], value = [1,0,2], inplace = True)

In [ ]:
df.Add_O2.unique()

In [ ]:
df.Add_O2.value_counts()